<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello World</title>
  </head>
  <body>
    <script>
      function copyToClipboard() {
          // コピー対象をJavaScript上で変数として定義する
          var copyTarget = document.getElementById("copyTarget");

          // コピー対象のテキストを選択する
          copyTarget.select();

          // 選択しているテキストをクリップボードにコピーする
          document.execCommand("Copy");

          // コピーをお知らせする（使わない）
          //alert("コピーできました！ : " + copyTarget.value);
      }
  </script>
    <h1>出勤しました！</h1>
    <h2>チャットへ連絡する</h2>
    <input id="copyTarget" type="text" value=<%= settings[1].content %> readonly>
    <button onclick="copyToClipboard()">コピー</button>
    <button onclick="window.open('<%= settings[0].content %>')">チャット起動</button>
    <br>
    <h2>TODO一覧</h2>
    <ul>
      <% tasks.forEach((task) => { %>
          <li> <a href="/todolist/edit/<%= task.id %> ">編集</a> <a href="/todolist/delete/<%= task.id %>">削除</a>  <%= task.name %> 
            </li>
      <% }) %>
  </ul>
    <br>
    <a href="/">トップへ戻る</a>
  </body>
</html>