<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>打刻を編集する - 打刻アプリ</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <div class="header">
      <div class="header-logo">打刻アプリ</div>
      <div class="header-list">
        <ul>
          <li><a class="link" href="/">ホーム</a></li>
          <li><a class="link" href="/begin">出勤</a></li>
          <li><a class="link" href="/finish">退勤</a></li>
          <li><a class="link" href="/timestamp_list">打刻一覧</a></li>
          <li><a class="link" href="/todolist">TODOリスト編集</a></li>
          <li><a class="link" href="/setting">設定</a></li>
        </ul>
      </div>
    </div>

    <h1>打刻を編集する</h1>
    <p>編集する打刻</p>
    <ul>
      <li>開始: <%= timestamp.begin_time %> 終了: <%= timestamp.finish_time %> 労働時間: <%= timestamp.timediff %></li>
    </ul>
   <form action="/update/<%= timestamp.id %>" method="post">
       <input type="datetime-local" name="begin_time" value="<%= timestamp.begin_time %>">
       <input type="datetime-local" name="finish_time" value="<%= timestamp.finish_time %>">
       <input type="submit" value="更新する">
   </form>
  </body>
</html>

