<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ТЅЊтѕ╗сѓњуиежЏєсЂЎсѓІ - ТЅЊтѕ╗сѓбсЃЌсЃф</title>
    <link rel="stylesheet" href="../../style.css">
  </head>
  <body>

    <div class="header">
      <div class="header-logo">ТЅЊтѕ╗сѓбсЃЌсЃф</div>
      <div class="header-list">
        <ul>
          <li><a class="link" href="/">сЃЏсЃ╝сЃа</a></li>
          <li><a class="link" href="/begin">тЄ║тІц</a></li>
          <li><a class="link" href="/finish">жђђтІц</a></li>
          <li><a class="link" href="/timestamp_list">ТЅЊтѕ╗СИђУдД</a></li>
          <li><a class="link" href="/todolist">TODOсЃфсѓ╣сЃѕуиежЏє</a></li>
          <li><a class="link" href="/setting">УеГт«џ</a></li>
        </ul>
      </div>
    </div>

    <h1 class="toptitle1">ТЅЊтѕ╗сѓњуиежЏєсЂЎсѓІ ­Ъќі</h1>

    <div class="centercontainer">
      <p>уиежЏєсЂЎсѓІТЅЊтѕ╗</p>
      <ul>
          <li>жќІтДІ: <%= timestamp.begin_time %> ухѓС║є: <%= timestamp.finish_time %> ті┤тЃЇТЎѓжќЊ: <%= timestamp.timediff %></li>
      </ul>
      <form action="/update/<%= timestamp.id %>" method="post">
         <input type="datetime-local" name="begin_time" value="<%= timestamp.begin_time %>">
         <input type="datetime-local" name="finish_time" value="<%= timestamp.finish_time %>">
         <input type="submit" value="ТЏ┤Тќ░сЂЎсѓІ">
      </form>
   </div>
  </body>
</html>

