<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>退勤しました - 打刻アプリ</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <script>
      function copyToClipboard() {
          // コピー対象をJavaScript上で変数として定義する
          var copyTarget = document.getElementById("copyTarget");

          // コピー対象のテキストを選択する
          copyTarget.select();

          // 選択しているテキストをクリップボードにコピーする
          document.execCommand("Copy");

          // コピーをお知らせする（使わない）
          //alert("コピーできました！ : " + copyTarget.value);
      }
    </script>

    <div class="header">
      <div class="header-logo">打刻アプリ</div>
      <div class="header-list">
        <ul>
          <li><a class="link" href="/">ホーム</a></li>
          <li><a class="link" href="/begin">出勤</a></li>
          <li><a class="link" href="/finish">退勤</a></li>
          <li><a class="link" href="/timestamp_list">打刻一覧</a></li>
          <li><a class="link" href="/todolist">TODOリスト編集</a></li>
          <li><a class="link" href="/setting">設定</a></li>
        </ul>
      </div>
    </div>

    <h1 class="toptitle1">退勤しました！ 🌙</h1>
    <p class="otsukare">今日もお疲れ様でした🍵</p>
    <div class="otsukarecontainer">
      <h2 class="toptitle2">チャットへ連絡する</h2>
      <input id="copyTarget" type="text" value=<%= settings[1].content %> readonly>
      <button onclick="copyToClipboard()">コピー</button>
      <button onclick="window.open('<%= settings[0].content %>')">チャット起動</button>
    </div>
    <div class="normalcontainer">
      <h2 class="toptitle2">TODO一覧</h2>
      <a class="sublinkbtn" href="/todolist/add">タスクを追加する</a>
      <ul>
        <% tasks.forEach((task) => { %>
            <li> <a class="editbtn" href="/todolist/edit/<%= task.id %> ">編集</a> <a class="deletebtn" href="/todolist/delete/<%= task.id %>">削除</a>  <%= task.name %> 
            </li>
        <% }) %>
      </ul>
    </div>
  </body>
</html>